.ant-form-item-label>label {
    width: 100px;
    justify-content: flex-end;
}

@font-face {
    font-family: "iconfont";
    /* Project id  */
    src: url('./fonts/iconfont.ttf?t=1666762429301') format('truetype');
}

:root,
:host {
  --w-e-textarea-bg-color: #fff;
  --w-e-textarea-color: #333;
  --w-e-textarea-border-color: #ccc;
  --w-e-textarea-slight-border-color: #e8e8e8;
  --w-e-textarea-slight-color: #d4d4d4;
  --w-e-textarea-slight-bg-color: #A7A7A7;
  --w-e-textarea-selected-border-color: #B4D5FF;
  --w-e-textarea-handler-bg-color: #4290f7;
  --w-e-toolbar-color: #595959;
  --w-e-toolbar-bg-color: #fff;
  --w-e-toolbar-active-color: #333;
  --w-e-toolbar-active-bg-color: #f1f1f1;
  --w-e-toolbar-disabled-color: #999;
  --w-e-toolbar-border-color: #e8e8e8;
  --w-e-modal-button-bg-color: #fafafa;
  --w-e-modal-button-border-color: #d9d9d9;
}

.ant-layout {
  display: flex;
  flex: auto;
  flex-direction: column;
  min-height: 0;
  background: white;
}

.toastui-editor-tooltip {
  position: absolute;
  background-color: #444;
  z-index: 40;
  padding: 4px 7px;
  font-size: 12px;
  border-radius: 3px;
  color: #fff;
  font-size: 15px;
  font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', '나눔바른고딕',
    'Nanum Barun Gothic', '맑은고딕', 'Malgun Gothic', sans-serif;
}
.ciCircleCheck{
  transform: scale(3);
  position: relative;
  top: 5px;
  background-color: green;
  border-radius: 10px;

}
.ciCircleQuestion{
  background-color: #FFD93D;
  transform: scale(3);
  position: relative;
  top: 5px;
  border-radius: 10px;
}