.container {
  padding: 50px;
}
.formItem4 {
  position: relative;
  top:5px;
  left: -122px;
}

.errMsg1 {
  position: relative;
  left: 10px;
  top: 5px;
  font-size: 16px;
  color: red;
  visibility: hidden;
}
.errMsg2 {
  position: relative;
  left: 10px;
  top: 5px;
  font-size: 16px;
  color: red;
  visibility: hidden;
}
.errMsg3 {
  position: relative;
  left: 2px;
  top: 42px;
  font-size: 16px;
  color: red;
  visibility: hidden;
}
