.h4 {
  display: flex;
  font-family: '冬青黑体简体中文';
  position: relative;
  font-size: 22px;
  line-height: 45px;
}

.menu {
  font-size: 18px;
  font-family: '冬青黑体简体中文';
  background-color: #001529;

}

.sider {
  background-color: #001529;
  margin-top: -22px;
  height: 2000px;
}

.def {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 250px;
  font-size: 48px;
}

.content {
  background-color: #fff;
  height: 1000px;
}

.title {
  position: relative;
  font-family: '冬青黑体简体中文';
  left: 30px;
  font-size: 20px;
}

.li {
  position: relative;
  top: -7px;
  left: 15px;
  font-size: 20px;
}

.p {
  position: relative;
  line-height: 18px;
}

.code {
  font-family: 'Cascadia Code';
  font-weight: 600;
  font-size: 20px;
}

.border {
  border: 2px solid darkblue;
  width: 300px;
  height:690px;
  position: relative;
  left: 120px;
  top: 50px;
  font-family: 'Segoe UI';
  font-size: 16px;
}

.border2 {
  border: 2px solid rgb(15, 105, 3);
  width: 260px;
  height: 650px;
  position: relative;
  left: 15px;
  top: 10px;
  font-family: 'Segoe UI';
  font-size: 16px;
}
.border3 {
  border: 2px solid rgb(228, 106, 7);
  width: 210px;
  position: relative;
  left: 20px;
  margin-top: 15px;
  font-family: 'Segoe UI';
  font-size: 16px;
}
.child{
  position: relative;
  font-family: 'Segoe UI';
  left: 10px;
  font-size: 20px;
}
.cont{
  position: relative;
  font-family: 'Segoe UI';
  left: 30px;
  top:-20px;
  font-size: 16px;
}
.root{
  position: relative;
  top:20px;
  left:40px;
}

.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #6a7580 !important;
}