.backdrop {
  object-fit: cover;
  object-position: 0 0;
  position: relative;
  top: -22px;
  width: 1920px;
  height: 500px;
  opacity: 0.8;
}

.box {
  height: 477px;
  color: black;
  background-color: rgb(147, 28, 216);
  position: relative;
  top: -20px;
}
.box2 {
  display: flex;
  position: relative;
  left: 5px;
  top: -530px;
  max-width: 1500px;
  overflow-x: scroll;
  overflow-y: hidden;
}

.rSider {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 800px;
  position: relative;
  top: -820px;
  left: 1550px;
  font-size: 16px;
  line-height: 5px;
}

.rSider .title2 {
  font-size: 22px;
}
.rSider .content2 {
  font-size: 16px;
  position: relative;
  left: 10px;
}
.box2::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.box2::-webkit-scrollbar-thumb {
  background: #c4c4c4;
  border-radius: 5px;
}

.ant-layout {
  background-color: white !important;
  display: block;
}
.title {
  position: relative;
  top: -530px;
  left: 15px;
  font-family: 'AR One Sans', serif;
  font-size: 22px;
  color: black;
}
.photo {
  position: relative;
  top: -390px;
  padding-left: 200px;
}
.photo .h4 {
  color: white;
  position: relative;
  left: 250px;
  top: -280px;
  font-family: 'AR One Sans', serif;
  font-weight: 600;
  font-size: 44px;
  width: 800px;
}

.text {
  color: white;
  position: relative;
  left: 250px;
  top: -300px;
  font-family: 'AR One Sans', serif;
  font-size: 25px;
  width: 800px;
}
.overview {
  color: white;
  position: relative;
  font-family: 'AR One Sans', serif;
  left: 250px;
  top: -320px;
  font-size: 20px;
  width: 1000px;
}
.card {
  height: 300px;
}

.actorsName {
  font-size: 16px;
  font-weight: 600;
  font-family: 'AR One Sans', serif;
  position: relative;
  top: 5px;
}
.character {
  font-size: 12px;
  font-family: 'AR One Sans', serif;
  position: relative;
  top: -5px;
}

.title {
  font-family: 'AR One Sans', serif;
  font-size: 33px;
  position: relative;
  left: 25px;
}

.space {
  padding: 5px;
}

.Footer {
  background-color: aquamarine !important;
  font-size: 32px !important;
  margin-top: 2120px;
}

.tcbox {
  padding-bottom: 20px;
}
.tag {
  padding-left: 10px !important;
  padding-right: 10px !important;
  padding-top: 3px !important;
  padding-bottom: 3px !important;
  font-weight: 500;
  font-family: 'AR One Sans', serif;
  color: black !important;
}
.ant-tag {
  margin: 10px 10px 0 0 !important;
 position: relative;
 top: -5px;
}
.editor{
  display: flex;
  flex-direction: column;
  width: 1375px;
  position: relative;
  left: 100px;
  top: -1350px;
}

.submit{
  position: relative;
  top: 15px;
  background-color: #2F58CD!important;
  position: relative;
  left: 1230px;
  color: white !important;
  border-radius: 8px !important;
  width: 150px;
}

.avatar{
  position: relative;
  top:40px;
  left: -70px;
}