.row{
    display:flex;
    height: 100px;
    align-items: center;
    width: 1400px;

}

.pageHeader {
    font-size: 26px;
    margin: 20px;
    color: rgb(102, 102, 102);
    font-weight: 200;
    margin-top: 15px;
}