.infoContainer{
    display: flex;
    justify-content:space-between;
    /* align-items:center; */
    height: 35px;
}

.left{
    display: flex;
    font-weight: 300;
}
.text{
    font-family: 'Calling Code','冬青黑体简体中文', monospace;
    font-size: 20x;
}