.container{
    width: 90%;
    margin: 0 auto;
}

.row{
    margin-bottom: 30px;
}

.intro{
    font-weight: 300;
}

.edit{
    color: #4091f7;
    cursor: pointer;
}

.title {
   font-size: 30px !important;
   margin-left: 110px;
   padding-top: 10px;
   padding-bottom: 10px;
   line-height: 24px;
}


.root{
    font-family: 'Calling Code','冬青黑体简体中文', monospace;
    margin-left: -80px;
    width: 104.2%;
    height: 1300px;
    background-color:#EEEDEB;
    margin-top: -20px;
}